.container-fluid {
  padding: 2rem 4rem;
  @media (max-width: $mobile-brakepoint) {
    padding: 2rem 2rem;
  }
}
.move {
  text-align: center;
  width: 250px;
  height: 250px;
  border: 2px solid #90a4ae;
  border-radius: 10px;
  margin: 1.5rem 0;
  padding: 2rem;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  img {
    width: 200px;
    @media (max-width: $mobile-brakepoint) {
      width: 90px;
      height: 90px;
    }
  }
  @media (max-width: $mobile-brakepoint) {
    width: 100px;
    height: 100px;
    margin: 0.5rem 0;
  }
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: $content-highlight;
  margin-top: auto;
  @media (max-width: $mobile-brakepoint) {
    height: 70px;
    width: 145px;
  }
}
.options-comp {
  @media (max-width: $mobile-brakepoint) {
    padding: 0.5rem;
    text-align: center;
  }
}
.control {
  img {
    // pointer-events: none;
    width: 75px;
    transform: rotate(270deg);
    filter: invert(1);
    transition: 0.5s ease;
    &:hover,
    &:active {
      width: 90px;
      filter: invert(1) sepia(20%) saturate(100) hue-rotate(90deg);
      transform: rotate(0deg);
    }
  }
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  &:hover {
    font-size: 2.5rem;
  }
  img {
    @media (max-width: $mobile-brakepoint) {
      width: 40px;
      &:hover {
        width: 50px;
      }
    }
  }
}
.player,
.score,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-brakepoint) {
    padding-bottom: 2rem;
  }
  p {
    text-align: center;
  }
}
.score {
  p {
    font-weight: bold;
    @media (max-width: $mobile-brakepoint) {
      font-size: 0.8rem;
    }
  }
}

.chosen-move {
  // width: 200px;
  font-size: 5rem;
  @media (max-width: $mobile-brakepoint) {
    font-size: 3rem;
  }
}
