$heading-font: "Quicksand ", sans-serif;
h1 {
  font-weight: 500;
}
$text-font: "Quicksand", sans-serif;
$background-color-dark: #263238;
$background-color-light: #ffffff;
$accent-color: #e91e63;
$mobile-brakepoint: 758px;
$content-highlight: #37474f;
