//import
@import "./config";
@import "./brandname";
@import "./container";
@import "./points";

* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0;
  transition: all 0.5s ease;
}

//utilites
.heading {
  font-size: 1.5rem;
  font-family: $text-font;
  font-weight: bold;
  text-align: center;
  @media (max-width: $mobile-brakepoint) {
    font-size: 1.2rem;
  }
}
//body
body {
  font-family: $text-font;
  @media (max-width: $mobile-brakepoint) {
    font-size: 0.8rem;
  }
}
.dark-mode {
  background-color: $background-color-dark;
  color: white;
}
.light-mode {
  background-color: $background-color-light;
  color: black;
}

//Dark Light mode tiggler
.change-color {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 0px;
  right: 40px;

  &:hover {
    color: $accent-color;
    box-shadow: 4px 6px 20px rgba($color: #000000, $alpha: 0.3);
  }
  button {
    outline: 0em;
    background: none;
    border: none;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    &:focus {
      outline: none !important;
      box-shadow: none;
    }
    &:hover {
      color: $accent-color;
    }
  }

  @media (max-width: $mobile-brakepoint) {
    width: 60px;
    height: 60px;
    font-size: 1rem;
    right: 25px;
  }
}

.darkbtn {
  background-color: white;

  .color-button {
    color: black;
  }
}
.lightbtn {
  background-color: $background-color-dark;

  .color-button {
    color: white;
  }
}
.fas {
  pointer-events: none;
}

//Container
